@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin:0; padding:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}

main {
    padding: 16px;
}

h1 {
    font-size: 36px; color:darkgreen;
}

h2 {
    font-size: 16px; font-style:italic;
}

h3 {
    font-size: 20px;
}

footer {
    color: cornsilk; font-size: 16px;
    padding: 48px;
    background-color: darkgreen;
    margin-top:auto;
}

img {
    height:200px;
}

nav {
    font-size: 16px;
    border-bottom: 1px solid black; padding: 16px;
    border-bottom-color:chartreuse;
    background-color:yellowgreen;
    color:cornsilk;
}

.my-grid {
    display: inline-grid;
    grid-template-columns: 300px;
}

a {
    text-decoration: none; 
}

a:hover {
    color:green;
}
